section#ourmenu {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../../images/granite.jpg);
    background-repeat: repeat-x

    h1 {
       color: $dark-gray;
    }
    .photo-bx {

        &--left {
            margin-left: 0;
            position: relative;
            z-index: 2;
            .photo {
                position: relative;
            }
                &:before {
                    content: '';
                    display: block;
                    background: black;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    z-index: 0;
                }
           
        }
        &--right {
            margin-left: 0;
            position: relative;
            z-index: 2;
            .photo {
                position: relative;
            }
                &:before {
                    content: '';
                    display: block;
                    background: black;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 0;
                }
        }

    }
    div.icon-rule {
        text-align: center;
        margin-top: .85rem;
        margin-bottom: .85rem;

        img {
            width: 50px;
        }
      }
      
      span {
        display: inline-block;
        vertical-align: middle;
      }
      
      .outer-line {
        width: 25%;
        border-bottom: 1px solid $dark-gray;
      }
      .content-header {
          h2 {
              color: $primary-orange;
          }
      }
      img.beer-svg {
        width: 29px;
        transform: rotate(-10deg);
        margin-right: .25rem;
        }
    
    p.menu-subtext {
        font-style: italic;
    }
    .content.wines,
    .content.beers {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
    
