.menu {
    background-color: #fff;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */


    .brand-logo {
        width: 60px;
        height: auto;
        margin-right: .5rem;
    }
   // Dark links against a light background
    .navbar-brand {
        color: $dark-gray;
        font-family: $headline-font;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        flex-direction: row; 
        transition: all 0.5s;
       
        &:hover,
        &:focus {
            color: $primary-orange;
        }
    }
    .navbar-toggler {
        color: rgba(0, 0, 0, 0.55);
        border-color: rgba(0,0,0,0);
    }
 .navbar-nav {
   
        .nav-item {
            margin-left: .5rem;
            .nav-link {
                text-transform: uppercase;
                color: $dark-gray;
                font-family: $paragraph-font; 
                transition: all 0.5s;
                font-weight: 700;

                &:hover,
                &:focus {
                    color: $primary-orange;
                }
            }
        }
    }
}
//Holiday Hours Alert
.business-alert {
    top: 75px;
    display: flex;
    justify-content: center;
    background: $blue-modern;
    color: white;
    border: none;
    border-radius: 0;
     
    h5 {
        color: white;
        letter-spacing: .04em;
        text-transform: none;
    }
    .btn-close {
        background: none;
            svg.bi.bi-x {
                position: absolute;
                top: 25px;
                right: 2px;
            }
            @media screen and (min-width:960px) {
                svg.bi.bi-x {
                    position: absolute;
                    top: 12px;
                    right: 2px;
                }
            }
    }
}