@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Roboto&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: $headline-font; 
    color: $dark-gray;
    text-transform: uppercase;
}
p, span, a {
   font-family: $paragraph-font; 
   color: $dark-gray;
}
a {
    color: $primary-orange;
    &:visited {
        color: $primary-orange;
    }
    &:hover {
        text-decoration: none;
    }
}


.display-2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: $headline-font;
    position: relative;
    z-index: 3;
    &--intro {
       
        font-weight: 700;
        font-size: 3.75;
        color: white;
        font-family: $headline-font;

        @include media-breakpoint-up(lg) {
            font-size: 5rem;
            display: inline-block;

        }
    }
    &--description {
        font-size: 1.85rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        font-family: $headline-font;
        color: white;
        
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            display: inline-block;

        }
    }
}