@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Roboto&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: $headline-font; 
    color: $dark-gray;
}
p, span, a {
   font-family: $paragraph-font; 
   color: $dark-gray;
}
a {
    color: $primary-orange;
    &:visited {
        color: $primary-orange;
    }
    &:hover {
        text-decoration: none;
    }
}

