//BRAND COLORS
$primary-orange: #eeb311;
$secondary-orange: #ecbd8b;
$silver: #b0b5b5;
$dark-gray: #222830;
$pure-gray: #004c56;
$blue-modern: #244e81;
$blue-transparent: #bcd0e5;


//BRAND FONTS
$headline-font: 'Oswald', sans-serif; 
$paragraph-font: 'Roboto', sans-serif;